[submodule "qbdevice-ros"]
	path = qbdevice-ros
	url = https://bitbucket.org/qbrobotics/qbdevice-ros.git
	branch = production-noetic
[submodule "qbhand-ros"]
	path = qbhand-ros
	url = https://bitbucket.org/qbrobotics/qbhand-ros.git
	branch = production-noetic
[submodule "ros_controllers"]
	path = ros_controllers
	url = https://github.com/ros-controls/ros_controllers
	branch = noetic-devel
